<div class="home-view container">

    <table st-table="retainedResults" st-safe-src="retained" class="table">
        <thead>
        <tr>
            <th st-sort="">Current Retained Donors</th>
            <th st-sort="">2016 YTD</th>
            <th st-sort="">2015 YTD</th>
            <th st-sort="">2014 YTD</th>
            <th st-sort="">Goal</th>
            <th st-sort="">% to Goal</th>
            <th st-sort="">2015 Fiscal Year</th>
            <th st-sort="">2014 Fiscal Year</th>
        </tr>
        </thead>
        <tbody>
        <!--currently inop, need to inject the data into this controller.-->
        <tr st-select-row="result" st-select-mode="single" ng-repeat="result in retainedResults">
            <td>{{result.type}}</td>
            <td>{{result.ytd | number : 0 }}</td>
            <td>{{result.ytdM1 | number : 0  }}</td>
            <td>{{result.ytdM2 | number : 0  }}</td>
            <td>{{result.goal | number : 0  }}0</td>
            <td>{{result.percentToGoal | number : 0}}0</td>
            <td>{{result.tfyM1 | number : 0  }}</td>
            <td>{{result.tfyM2 | number : 0  }}</td>

        </tr>
        </tbody>
        <!--<tfoot>-->
        <!--<tr>-->
            <!--<td colspan="5" class="text-center">-->
                <!--<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="15"></div>-->
            <!--</td>-->
        <!--</tr>-->
        <!--</tfoot>-->
    </table>
    <table st-table="recoveredResults" st-safe-src="recovered" class="table">
        <thead>
        <tr>
            <th st-sort="">Current Retained Donors</th>
            <th st-sort="">2016 YTD</th>
            <th st-sort="">2015 YTD</th>
            <th st-sort="">2014 YTD</th>
            <th st-sort="">Goal</th>
            <th st-sort="">% to Goal</th>
            <th st-sort="">2015 Fiscal Year</th>
            <th st-sort="">2014 Fiscal Year</th>
        </tr>

        </thead>
        <tbody>
        <tr st-select-row="result" st-select-mode="single" ng-repeat="result in recoveredResults">
            <td>{{result.type}}</td>
            <td>{{result.ytd  | number : 0}}</td>
            <td>{{result.ytdM1 | number : 0}}</td>
            <td>{{result.ytdM2 | number : 0}}</td>
            <td>{{result.goal | number : 0}}0</td>
            <td>{{result.percentToGoal  | number : 0}}0</td>
            <td>{{result.tfyM1 | number : 0}}</td>
            <td>{{result.tfyM2 | number : 0}}</td>

        </tr>
        </tbody>
    </table>

    <table st-table="universeResults" st-safe-src="universe" class="table">
        <thead>
        <tr>
            <th st-sort="">Donor Universe</th>
            <th st-sort="">2016 YTD</th>
            <th st-sort="">2015 YTD</th>
            <th st-sort="">2014 YTD</th>
            <th st-sort="">Goal</th>
            <th st-sort="">% to Goal</th>
            <th st-sort="">2015 Fiscal Year</th>
            <th st-sort="">2014 Fiscal Year</th>
        </tr>

        </thead>
        <tbody>
        <tr st-select-row="result" st-select-mode="single" ng-repeat="result in universeResults">
            <td>{{result.type}}</td>
            <td>{{result.ytd  | number : 0 }}</td>
            <td>{{result.ytdM1  | number : 0 }}</td>
            <td>{{result.ytdM2  | number : 0 }}</td>
            <td>{{result.goal  | number : 0 }}0</td>
            <td>{{result.percentToGoal  | number : 0}}0</td>
            <td>{{result.tfyM1  | number : 0 }}</td>
            <td>{{result.tfyM2  | number : 0 }}</td>
        </tr>
        </tbody>
    </table>


    <!--<button type="button" class="btn btn-default" ng-click="open('lg')">View Charts</button>-->


</div>
