<div class="home-view container">
    <div>
    <h4 class="text-center table-header">Gift Range Chart for period ending : {{endDate.date | date : shortDate}}</h4>
        <div class="row">
            <div class="datepicker">
                <label>Select End Date</label>
                <p class="input-group">
                    <input type="text" class="form-control" ng-click uib-datepicker-popup="MM-dd-yyyy" ng-model="dt" ng-change="setEndDate(dt)" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <table st-table="giftResults" st-safe-src="gifts" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="">Donors at each level</th>
            <th st-sort="">{{date}} YTD</th>
            <th st-sort="">{{date -1}} YTD</th>
            <th st-sort="">{{date -2}} YTD</th>
            <th st-sort="">{{date -1}} Fiscal Year</th>
            <th st-sort="">{{date -2}} Fiscal Year</th>
        </tr>

        </thead>
        <tbody>
        <tr st-select-row="result" st-select-mode="single" ng-click="open('lg', result)" ng-repeat="result in giftResults">
            <td>{{result.type}}</td>
            <td>{{result.ytd }}</td>
            <td>{{result.ytdM1  }}</td>
            <td>{{result.ytdM2  }}</td>
            <td>{{result.tfyM1 }}</td>
            <td>{{result.tfyM2  }}</td>

        </tr>
        </tbody>
        <!--<tfoot>-->
        <!--<tr>-->
            <!--<td colspan="5" class="text-center">-->
                <!--<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="15"></div>-->
            <!--</td>-->
        <!--</tr>-->
        <!--</tfoot>-->
    </table>

    <table st-table="displayedResults" st-safe-src="amountRaised" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="">Amount Raised at each level</th>
            <th st-sort="">{{date}} YTD</th>
            <th st-sort="">{{date -1}} YTD</th>
            <th st-sort="">{{date -2}} YTD</th>
            <th st-sort="">{{date -1}} Fiscal Year</th>
            <th st-sort="">{{date -2}} Fiscal Year</th>
        </tr>

        </thead>
        <tbody>
        <tr st-select-row="result" st-select-mode="single" ng-click="open('lg', result)"  ng-repeat="result in displayedResults">
            <td>{{result.type}}</td>
            <td>{{result.ytd | currency : $ : 0 }}</td>
            <td>{{result.ytdM1 | currency : $ : 0 }}</td>
            <td>{{result.ytdM2 | currency : $ : 0 }}</td>
            <td>{{result.tfyM1 | currency : $ : 0 }}</td>
            <td>{{result.tfyM2 | currency : $ : 0 }}</td>
        </tr>
        </tbody>
    </table>

    <!--<button type="button" class="btn btn-default" ng-click="open('lg')">View Charts</button>-->


</div>
