<div class="home-view container">

    <table st-table="displayedContacts" st-safe-src="contacts.object" class="table">
        <thead>
        <tr>
            <th st-sort="">Account Type</th>
            <th st-sort="">2016 YTD</th>
            <th st-sort="">2015 YTD</th>
            <th st-sort="">2014 YTD</th>
            <th st-sort="">Goal</th>
            <th st-sort="">% of Goal</th>
            <th st-sort="">% to Goal</th>
            <th st-sort="">2015 Fiscal Year</th>
            <th st-sort="">2014 Fiscal Year</th>
        </tr>

        </thead>
        <tbody>
        <!--currently inop, need to inject the data into this controller.-->
        <tr st-select-row="person" st-select-mode="single" ng-repeat="person in displayedContacts">
            <td>{{account.FirstName}}</td>

            <td>{{account.LastName}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="15"></div>
            </td>
        </tr>
        </tfoot>
    </table>

    <button type="button" class="btn btn-default" ng-click="open('lg')">View Charts</button>


</div>
