<div class="subhead">
    <nav class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left user-nav" >

                <li><a href="/" ng-show="login">Money Raised</a></li>
                <li><a href="/giftRange" ng-show="login">Gift Range Tables</a></li>
                <li><a href="/donorRetention" ng-show="login">Donor Acquistion & Retention</a></li>
                <li><a href="/goals" ng-show="admin">Set Goals</a></li>
                <li><a href="/user-admin" ng-show="admin">Users</a></li>

            </ul>
            <ul>
                <li ng-show="login" class="navbar-text navbar-right">Signed in as -
                    <span class="navbar-link">{{ user.firstname }} {{ user.lastname }}</span>
                </li>
            </ul>
        </div>
    </nav>
</div>
