<div class="subhead" ng-controller="UserController">
    <nav class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left" >

                <li><a href="/" ng-show="login">Money Raised</a></li>
                <li><a href="/giftRange" ng-show="login">Gift Range Tables</a></li>
                <li><a href="/donorRetention" ng-show="login">Donor Acquistion & Retention</a></li>
                <li><a href="/goals" ng-show="admin">Set Goals</a></li>
                <li><a href="/register" ng-show="admin">Register User</a></li>


            </ul>
            <ul>
                <li>
                    <p ng-show="login" class="navbar-text navbar-right">signed in as - <a href="#" class="navbar-link">{{ user.firstname }} {{ user.lastname }}</a></p>

                </li>
            </ul>
        </div>
    </nav>

</div>
