
<!-- CHART DISPLAY MODAL -->

<div class="modal-header modal-stlf-header">
  <img src="./assets/images/logo_stlf.png" />
  <button type="button" class="close corner-x" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
  <div class="chart-display" id="chartdiv">
    {{ load(results) }}
  </div>
  <div class="btn-group btn-group-justified" role="group" aria-label="Chart Buttons">
    <div class="btn-group">
      <button class="btn btn-info" ng-click="chartType('piechart')" aria-label="Pie Chart">Pie Chart</button>
    </div>
    <div class="btn-group">
      <button class="btn btn-info" ng-click="chartType('barchart')" aria-label="Bar Chart">Bar Chart</button>
    </div>
    <div class="btn-group">
      <button class="btn btn-info" ng-click="chartType('bargraph')" aria-label="Bar Graph">Bar Graph</button>
    </div>
  </div>
</div>
<div class="modal-footer modal-stlf-footer">
  <!-- <button class="btn btn-danger" ng-click="close()">Close</button> -->
</div>
