<!-- passport modal login -->

<div class="modal-body">
    <!-- <div class="container"> -->
    <!-- Set form action and method -->
    <form action="/" method="post" id="loginForm">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"/>
        </div>
    </form>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" form="loginForm">Login</button>
        <button class="btn btn-warning" ng-click="close()">Cancel</button>
    </div>

            <!-- <a href="/register">Register</a> -->


</div>

<!-- end passport modal login -->
